<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Entry page</title>
</head>
<body>
<table>
    <tr>
        <th>name</th>
        <th>key</th>
        <th>values</th>
    </tr>

    <tr th:each="EntryDto : ${dictionary}">
        <td th:text="${EntryDto.getType()}"></td>
        <td th:text="${EntryDto.getKey()}"></td>
        <td>
            <table>
                <tr th:each="value : ${EntryDto.getValues()}">
                    <td th:text="${value}"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>