<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Entry page</title>
</head>
<body>
<form th:action="@{/dictShow/getDictionaryByType}" method="get">
    <select class="form-control" id="typeId" name="typeId">
        <option th:each="type : ${dictTypes}"
                th:value="${type.getId()}"
                th:text="${type.getName()}">
        </option>
    </select>
    <button type="submit">Show</button>
</form>
<br>

<p th:text="${tableData.getTypeEntity().getName()}"></p>

<table>
    <tr>
        <th>key</th>
        <th>values</th>
    </tr>

    <tr th:each="tableRow : ${tableData.getPairs()}">
        <td th:text="${tableRow.getKey().getName()}"></td>
        <td>
            <table>
                <tr th:each="values : ${tableRow.getValue()}">
                    <td th:text="${values.getName()}"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>